
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Vue Multiselect
@import '~vue-multiselect/dist/vue-multiselect.min';


@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');



/******************CSS PERSONALIZADO************************/
/*ESTILOS GENERALES*/
.multiselect__content-wrapper{
  width: 118% !important;
}
.container-fluid{
  margin-bottom: 200px;
}

body{
  max-width: 3000px;
  background-color: white;
}

/*ESTILOS GENERALES*/


/*HEADER*/
.navbar{
  margin-left: -15px;
  margin-right: -15px;
}

.navbar p{
	color: white;
	margin-bottom: 0rem;
}

.titulo_subheader{
	margin-top: 20px;
}

.boton_ordenar{
	min-width: 200px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: black;
  height: 1px;
}
/*HEADER*/

/***FILTROS***/


.multiselect__content{
  z-index: 8000;
}


/***FILTROS***/



/***BODY***/
.cuerpo_pagina{
  margin-top: -60px;
}
.card{
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  border: none;
  width: 80%;
}

.product_seccion{
  text-align: center;
  max-width: 100%;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-header{
  max-height: 80px;
   overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border-bottom: none;
}

.card-footer{
  background-color: white;
  border-top: none;
}

.card img{
  width: 65%;
  min-height: 150px;
  max-height: 150px;
  max-width: 200px;
}

.span_precio{
  color: red;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 800;
}

.card button{
  font-size: 25px;
  font-weight: 700;
}

.precio_linea{
  text-decoration-line: line-through;
}

.circulo_rebaja{
  width: 50px;
  height:50px;
  margin-top: -40px;
  position:absolute;
  margin-left: 12rem;
  border: 1px solid #d9534f;
  border-radius: 50px;
  padding: 13px 5px 15px 5px;
  z-index: 40;
  font-size: 15px;
  font-weight: bold;
  background-color: #d9534f;
  color: white;
}

.button_product_talla{
  background-color: white;
  border: 1px solid gray;
  color: gray;
}

.button_product{
  font-weight: 900;
}

/***BODY***/


/*MENSAJE DE SCROLL INFINITO*/
.infinite-loading-container[data-v-358985eb] {
    clear: both;
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
}

/*MENSAJE DE SCROLL INFINITO*/

/***COOKIES***/
.modal{
  z-index: 9999;
}
.modal p {
    margin-top: 20px;
    margin-bottom: 1rem;
    font-size: 15px;
}

.modal h2 {
    font-weight: 800;
}
/***COOKIES***/

/*FOOTER*/
.fixed-bottom{
  margin-top: 200px;
  z-index: 9999; 
  display: none;
}
.contenido_footer{
	width: 100%;
	text-align: center;
}

.contenido_footer a{
	color: white;
	cursor: pointer;
}
/*FOOTER*/















/****MEDIA QUERYS****/
@media only screen and (max-width: 1984px) {
  .circulo_rebaja{
    margin-left: 10rem;
  }

  .card{
    width: 72%;  
  }
}

@media only screen and (max-width: 1752px) {
  .circulo_rebaja{
    margin-left: 8rem;
  }
}


@media only screen and (max-width: 1652px) {
  .circulo_rebaja{
    margin-left: 7rem;
  }
}

@media only screen and (max-width: 1300px) {
  .circulo_rebaja{
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 960px) {
  .circulo_rebaja{
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 860px) {
  .circulo_rebaja{
    margin-left: 9rem;
  }

  .precio_linea{
     font-size: 10px;
  }

  .span_precio{
      font-size: 20px;
  }

  .button_product{
      font-size: 15px;
  }
}

@media only screen and (max-width: 765px) {
  .boton_filtros{
    margin-top: 30px;
    margin-left: 30px;
  }

  .fila_filtros{
    margin-left: 20px;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 734px) {
  .circulo_rebaja{
    margin-left: 7rem;
  }
}





@media only screen and (max-width: 628px) {
  .circulo_rebaja{
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 573px) {
  .circulo_rebaja{
    margin-left: 9rem;
  }

  .card{
      width: 60%;
      height: 82%;
  }


}

@media only screen and (max-width: 573px) {
  .circulo_rebaja{
    margin-left: 7rem;
  }  

  .card{
      margin-left: 90px;
  }

}

@media only screen and (max-width: 440px) {
  
  .card{
      margin-left: 70px;
  }

  .contenido_footer{
    font-size: 8px;
    font-weight: 500;
  }

}

@media only screen and (max-width: 400px) {
  .circulo_rebaja{
    margin-left: 5rem;
  }  

}


/****MEDIA QUERYS****/





/******************CSS PERSONALIZADO************************/







