/*ESTILOS GENERALES*/
.container-fluid{
  margin-bottom: 200px;
}
/*ESTILOS GENERALES*/


/*HEADER*/
.navbar p{
	color: white;
	margin-bottom: 0rem;
}

.titulo_subheader{
	margin-top: 20px;
}

.boton_ordenar{
	min-width: 200px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color: black;
  height: 1px;
}
/*HEADER*/

/***FILTROS***/
.multiselect-wrapper .multiselect-input{
	width: 100px;
}

.multiselect-container .btn{
	text-align: left;
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-left: -20px;
}

.dropdown-menu{
	width: 100%
}

.fila_hr{
  margin-top: 35px;
}

.multiselect-container>li>a{
  color: black;
  font-size: 15px;
}

/***FILTROS***/



/***BODY***/
.card{
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
}

.card-header{
  max-height: 80px;
   overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card img{
  width: 100%;
  max-height: 280px;
}

.span_precio{
  color: red;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 800;
}

.card button{
  font-size: 25px;
  font-weight: 700;
}


/***BODY***/









/*FOOTER*/
.fixed-bottom{
  margin-top: 200px;
}
.contenido_footer{
	width: 100%;
	text-align: center;
}

.contenido_footer a{
	color: white;
	cursor: pointer;
}
/*FOOTER*/



/****MEDIA QUERYS****/

@media only screen and (max-width: 765px) {
  .boton_filtros{
  	margin-top: 30px;
  	margin-left: 30px;
  }

  .fila_filtros{
  	margin-left: 20px;
  	margin-bottom: 100px;
  }
}


/****MEDIA QUERYS****/
